.button
  padding: 8px
  border: 2px solid transparent
  border-radius: 4px
  background-color: transparent
  font-family: 'RobertoSans-Regular', Tahoma, sans-serif
  font-size: 16px
  color: $color-grey
  text-decoration: none

  &:hover
    border: 2px solid $color-grey

  &:active
    border: 2px solid $color-pink-dark

  &--active
    border: 2px solid $color-pink-dark
    pointer-events: none
    cursor: default
