.helper

  & summary
    display: flex
    padding: 20px

    &:hover
      cursor: pointer
      opacity: 0.6

    & .anchor
      margin-left: auto

  &__name
    color: $color-grey

  &__category
    margin: 0
    padding: 0 0 0 20px
    color: $color-grey
    font-size: 12px

    @media(min-width: $width-mobile)
      margin-bottom: 16px

    & li::marker
      font-weight: 600
      color: $color-grey-dark

  &__details,
  &__example
    padding: 0 20px 20px 20px

  &__details
    display: flex
    flex-direction: column

    @media(min-width: $width-mobile)
      flex-direction: row

    & > .helper__column
      box-sizing: border-box
      width: 100%
      padding: 20px 0
      border-bottom: 2px solid $color-grey-light
      font-size: 16px

      & p
        margin: 12px 0

        &:last-child
          margin-bottom: 0

      &:first-child
        display: flex
        flex-direction: row-reverse
        justify-content: space-between
        padding-top: 0

        @media(min-width: $width-mobile)
          display: block

      @media(min-width: $width-mobile)
        width: auto
        padding: 0
        border-bottom: none
        border-right: 2px solid $color-grey-light

        &:last-child
          border-right: none

        &:nth-child(odd)
          padding-right: 60px

        &:nth-child(even)
          padding-left: 60px

  &__links
    display: flex
    flex-direction: column

    & a
      font-size: 14px

      &:hover
        opacity: 0.6

      & svg
        margin-right: 12px
        fill: $color-green-dark

      &:last-child
        margin-right: 0

  &__header
    margin: 0 0 12px 0
    font-size: 18px
    font-weight: 400
    color: $color-grey

  &__example

    & pre
      width: 100%
      margin: 0
      display: flex
      font-size: 12px
      line-height: 20px
      background-color: $color-background

      & .helper__code-lines
        padding: 16px
        display: flex
        flex-direction: column
        color: $color-green-dark
        font-weight: 600
        text-align: center

      & code
        display: block
        width: 96%
        padding: 16px 8px
        overflow: auto
