.helper

  &__name
    color: $color-grey

  &__category
    margin-bottom: 16px
    padding: 0 0 0 20px
    color: $color-grey
    font-size: 14px

  & summary
    padding: 24px 16px

    &:hover
      cursor: pointer

    & .anchor
      margin-left: 12px

  &__details
    display: flex
    flex-direction: column

    @media(min-width: $width-mobile)
      flex-direction: row
      padding-bottom: 24px

    &-column
      padding: 0 16px
      padding-bottom: 16px
      border-bottom: 2px solid $color-grey-light
      font-size: 16px

      @media(min-width: $width-mobile)
        padding-bottom: 0px
        border-bottom: none
        border-right: 2px solid $color-grey-light

      &:last-child
        border: none

      & h3
        margin: 12px 0
        font-size: 18px
        font-weight: 400
        color: $color-grey

      & p:last-child
        margin-bottom: 0

      & a svg
        margin-left: 6px
        fill: $color-green-dark

      &:nth-child(1)
        display: flex
        flex-direction: column

        @media(min-width: $width-mobile)
          width: 30%

        & .helper__links
          display: flex
          margin-top: auto

          & a
            margin-right: 14px

            &:last-child
              margin-right: 0

      &:nth-child(2)

        @media(min-width: $width-mobile)
          width: 30%

      &:nth-child(3)

        @media(min-width: $width-mobile)
          width: 40%
          min-width: 40%

  pre.helper__example
    width: 100%
    display: flex
    font-size: 12px
    line-height: 20px
    background-color: $color-background

    & .helper__code-lines
      width: 6%
      padding: 16px 8px
      display: flex
      flex-direction: column
      color: $color-green-dark
      font-weight: 600
      text-align: center

    & code
      display: block
      width: 94%
      padding: 16px 0
      overflow: auto
