.about

  & p
    margin-top: 0

  & dl

    & dt
      display: inline
      padding-right: 4px
      font-weight: 600

    & dd
      display: inline
      margin: 0
      padding-left: 4px
      color: $color-grey
      font-style: italic
