.about
  display: flex
  margin-bottom: 60px
  font-size: 16px
  text-align: center

  &__column
    width: 50%
    padding-right: 40px

    &:last-child
      padding-right: 0

    & ul
      margin: 0 0 16px 0
      display: inline-block

      & li
        margin-bottom: 5px
        text-align: left

    & p
      margin-top: 0

    & dt
      display: inline
      padding-right: 4px
      font-weight: 600

    & dd
      display: inline
      margin: 0
      padding-left: 4px
      font-style: italic
