.home
  display: flex
  flex-direction: column
  margin-bottom: 60px
  text-align: center
  font-size: 14px

  @media(min-width: $width-mobile)
    flex-direction: row
    font-size: 16px

  &__column
    width: 100%
    margin: 0 auto
    padding-right: 40px

    @media(min-width: $width-mobile)
      width: 50%
      margin: 0

    &:last-child
      padding-right: 0

    & p
      line-height: 30px

    & section .header:first-child
      margin-top: 0
