.search-form
  position: relative
  border-bottom: 1px solid $color-grey-light

  & input
    display: block
    box-sizing: border-box
    width: 100%
    height: 100%
    padding: 20px 52px
    border: none
    font-family: 'RobertoSans-Regular', Tahoma, sans-serif
    font-size: 22px
    color: $color-grey-dark

    &::placeholder
      font-style: italic
      color: $color-grey-light

  &::before,
  &::after
    content: ""
    position: absolute
    width: 7px
    height: 3px
    background-color: $color-grey-light
    top: 50%

  &::before
    left: 20px
    transform: translateY(-50%) rotate(45deg)

  &::after
    left: 24px
    transform: translateY(-50%) rotate(-45deg)
