.search
  display: flex
  flex-direction: column
  margin-bottom: 40px
  background-color: $color-paper
  border-bottom: 1px solid $color-grey-light
  border-radius: 8px
  +shadow()

  @media(min-width: $width-mobile)
    flex-direction: row

  &__input
    width: 100%
    display: flex
    margin: 0
    padding: 0
    border: none

    @media(min-width: $width-mobile)
      width: 80%

  &__type
    display: none
    padding: 0 20px
    margin-right: 10px
    border: none
    color: $color-grey-dark
    font-size: 12px
    font-weight: 600
    background-color: inherit

    &:hover
      cursor: pointer

    @media(min-width: $width-mobile)
      display: block

  &__query
    display: block
    width: 100%
    padding: 20px
    border: none
    color: $color-grey-dark
    background-color: inherit
    border-radius: inherit
    font-family: 'RobertoSans-Regular', Tahoma, sans-serif
    font-size: 20px
    text-align: center

    @media(min-width: $width-mobile)
      text-align: left

    &::placeholder
      font-style: italic
      color: $color-grey-light

  &__hints
    min-width: 160px
    margin: 0
    padding: 10px 10px
    color: $color-grey
    list-style: none

    @media(min-width: $width-mobile)
      width: 20%
      padding: 10px 20px

    & li
      display: flex
      justify-content: center

      & b
        color: $color-grey-dark

      & .button
        padding: 0 2px 2px 2px
        font-size: 16px

        @media(min-width: $width-mobile)
          font-size: 12px
