.search
  display: flex
  position: relative
  background-color: $color-paper
  border-bottom: 1px solid $color-grey-light
  border-radius: 8px
  +shadow()

  &__type
    position: absolute
    top: 50%
    left: 12px
    transform: translateY(-50%)
    border: none
    color: $color-grey
    background-color: inherit

    &:hover
      cursor: pointer

  &__query
    display: block
    width: 90%
    padding: 20px 20px 20px 60px
    border: none
    color: $color-grey-dark
    background-color: inherit
    border-radius: inherit
    font-family: 'RobertoSans-Regular', Tahoma, sans-serif
    font-size: 20px

    &::placeholder
      font-style: italic
      color: $color-grey-light

  &__hint
    width: 10%
    min-width: 160px
    padding: 10px 20px

    & span
      display: inline-block
      color: $color-grey
      font-size: 12px
      line-height: 18px

      & b
        color: $color-grey-dark
