.header
  display: flex
  justify-content: center
  margin: 40px 0 20px 0

  & h2
    display: inline
    position: relative
    margin: 0
    font-weight: 400
    color: $color-grey
    text-align: center
    font-size: 20px

    @media(min-width: $width-mobile)
      font-size: 26px

    & .anchor
      display: none
      position: absolute
      top: 50%
      left: -30px
      transform: translateY(-50%)

  &:hover .anchor
    display: flex
    justify-content: center
    align-items: center
