.message
  display: none
  position: fixed
  top: 36px
  left: 50%
  transform: translate(-50%, 0)
  padding: 20px
  border-radius: 4px
  background-color: $color-msg-info-back
  color: $color-msg-info-text
  font-size: 14px
  z-index: 2
  +shadow()
  +animation-slide-in-top()

  @media(min-width: $width-mobile)
    font-size: inherit

  &--show
    display: block

  &--warning
    background-color: $color-msg-warn-back
    color: $color-msg-warn-text
